.container {
  width: 425px;
  height: 450px;
  padding: 50px 40px;
  background: #0B2434;
}

.second-container {
  width: 345px;
  height: 360px;
  padding: 38px 42px;
  border-radius: 10px;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 25px; 
  justify-content: center;
  align-items: center;
  width: fit-content; 
}